<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">EVENT1</a>
</div>
<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">EVENT2</a>
</div>
<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">EVENT3</a>
</div>
<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">EVENT4</a>
</div>
<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">EVENT5</a>
</div>
<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">EVENT6</a>
</div>
<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">EVENT7</a>
</div>